<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'tienda/css/index.css' %}">
  <link rel="icon" href="{% static 'tienda/img/logo_z.PNG' %}">
  <title>Grupo Zero</title>
</head>

<body>
  <header>
    {% include 'fragmentos/navbar.html' %}
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner pt-5 mt-2">
            <div class="carousel-item active">
              <img src="{% static 'tienda/img/starry-night-over-the-rhone-by-vincent-willem-van-gogh-news-photo-1658241462.jpg' %}"
                class="d-block w-100 img-carousel" alt="..." onclick="redireccionar('la_noche_estrellada')">
              <div class="carousel-caption d-none d-md-block text-uppercase">
                <h5>La noche estrellada</h5>
                <!-- <button class="btn-block btn-primary" onclick="window.location.href='galeria.html#la_noche_estrellada'">asd</button> -->
                <p>Vicent Van Gogh</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'tienda/img/John_William_Waterhouse_-_The_Lady_of_Shalott_-_Google_Art_Project_edit.jpg' %}"
                class="d-block w-100 img-carousel" alt="..." onclick="redireccionar('lady_of_shalott')">
              <div class="carousel-caption d-none d-md-block text-uppercase">
                <h5>La Dama de Shalott</h5>
                <p>J. W. Waterhouse</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'tienda/img/la_persistencia_de_la_memoria.jpg' %}" 
                class="d-block w-100 img-carousel" alt="..." onclick="redireccionar('la_persistencia')">
              <div class="carousel-caption d-none d-md-block text-uppercase">
                <h5>La persistencia de la memoria</h5>
                <p>Dalí</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="about-us text-center">
      <h4>Somos Grupo Zero</h4>
      <p>Galería de arte fino ubicado en la V Región. Nos ubicamos en Álvarez 2366, Chorrillos, Viña del Mar y
        <br>nuestra tienda web ofrece a un amplio público con un arte asequible para todos.​</p>
    </div>
    <div class="art-pictures text-center">
      <h4>Lo más visto</h4>
       <div class="row "> <!-------------------------->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-12">
              <span class="art-title">LA GRAN OLA DE KANAGAZA</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img src="{% static 'tienda/img/starry-night-over-the-rhone-by-vincent-willem-van-gogh-news-photo-1658241462.jpg' %}" alt=""
                class="img-most-view">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- <button onclick="window.location.href='galeria.html#la_gran_ola'" class="btn-item">Ver más</button> -->
              <button #ola id="ola" onclick="redireccionar('1')" class="btn-item">Ver más</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <span class="art-title">NOCTÁMBULOS</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img src="{% static 'tienda/img/John_William_Waterhouse_-_The_Lady_of_Shalott_-_Google_Art_Project_edit.jpg' %}" alt=""
                class="img-most-view">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button onclick="redireccionar('2')" class="btn-item">Ver más</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <span class="art-title">LA CAPILLA SIXTINA</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img src="{% static 'tienda/img/la_persistencia_de_la_memoria.jpg' %}" alt=""
                class="img-most-view">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button onclick="redireccionar('3')" class="btn-item">Ver más</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="art-pictures text-center">

      <!-- <h1>TEST</h1>
      <div class="row ">
        {% for picture in cuadros %}
        <div class="col">
          <span class="art-title">
            {{picture.titulo}} - {{picture.artista}}
          </span>
        </div>
        <div class="row">
          <div class="col-12">
            <img src="{{picture.imagen.url}}" alt="" class="img-most-new">
          </div>
        </div>
        {% endfor %}
      </div>
      

      <h1>TEST</h1> -->

      <h4>Los más nuevo</h4>
      <div class="row"> <!-------------------------->
        {% for picture in cuadros %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <span class="art-title">{{picture.titulo}} - {{picture.artista}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img src="{{picture.imagen.url}}" alt="" class="img-most-new">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button onclick="redireccionar('{{picture.id_cuadro}}')" class="btn-item">Ver más</button>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <span class="art-title">LILITH SOBRE AMARILLO</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img src="img/masreciente2.webp" alt="" class="img-most-new">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button onclick="redireccionar('lilith_sobre_amarillo')" class="btn-item">Ver más</button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <span class="art-title">LILITH LILA</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img src="img/masreciente3.webp" alt="" class="img-most-new">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button onclick="redireccionar('lilith_lila')" class="btn-item">Ver más</button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <span class="art-title">DÍA DE PESCA</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img src="img/masreciente4.webp" alt="" class="img-most-new">
            </div>
          </div>
          <div class="row">
            <div class="col"> 
              <button onclick="redireccionar('dia_de_pesca')" class="btn-item">Ver más</button>
            </div>
          </div>
        </div> -->
        {% endfor %}
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="{% static 'tienda/js/redirection.js' %}"></script>
</body>

</html>